<li [ngClass]="{'list-group-item m-2':true,
                'list-group-item-success': status ==='allumé',
                'list-group-item-danger': status === 'éteint'
                }">
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{name}} -- Statut : {{getStaus()}}</h4>
  <div class="container">
    <button routerLink="{{id}}" class="btn btn-sm btn-outline-primary">
      Détail
    </button>

    <button class="btn btn-sm btn-success m-2"
            [disabled]="status === 'allumé'" (click)="onSwitch()">
      Allumer
    </button>

    <button class="btn btn-sm btn-danger m-2"
            [disabled]="status === 'éteint'" (click)="onSwitch()">
      Eteindre
    </button>
  </div>

</li>
