<div class="container">
  <div class="row ">
      <div class="col-xl-12 m-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navId">
              <div class="navbar-nav">
                <a class="nav-item nav-link" routerLinkActive="actice" routerLink="auth">Authentication</a>
                <a class="nav-item nav-link" routerLinkActive="actice" routerLink="appareils">Appareils</a>
                <a class="nav-item nav-link" routerLinkActive="actice" routerLink="appareils/edit">Crée un appareil</a>
                <a class="nav-item nav-link" routerLinkActive="actice" routerLink="users">Utilisateurs</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    <div class="col-xl-12 m-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
